@inherits MainLayoutComponent
@page "/Upload"
@page "/Convert"
@implements IDisposable

<PageHeader Title="Convert Your Postman Collection Into Fully Featured C# ApiClient"
            AddPostman2CSharpToTitle
            Description="Convert your Postman collections and transform them into C# ApiClients with Postman2CSharp. Once converted you can download the ApiClient
and all it's files and paste it into your project."
            NotPrerenderingTitle="Convert"
            Keywords="Convert, generator, postman collections, transform, C# HttpClient" />

<BreadCrumbs Items="@BreadCrumbs"></BreadCrumbs>

<br/>

<MudPaper Elevation="4" Class="header-paper" >
    <MudText Typo="Typo.h1" Class="mt-4">Convert Your Postman Collection</MudText>

    <br />

    <MudText Typo="Typo.subtitle1">
        <strong style="font-size: large;" >Privacy Assurance:</strong> Your Postman collections never leave your computer. This tool operates with Blazor WebAssembly (Wasm),
        a framework that allows it to run entirely in your browser without making any network calls or sharing information about your collections. 
        Your data stays on your machine.
    </MudText>
    <br/>
    <MudText Typo="Typo.subtitle1">
        <strong style="font-size: large;">Have a collection in another format?</strong> Postman supports a variety of type and specification for importing. 
        OpenAPI, GraphQL, cURL, RAML, HAR and more are all supported. For more information, visit their page: <a target="_blank" class="link-normal" href="https://learning.postman.com/docs/designing-and-developing-your-api/importing-an-api/#supported-api-definitions-formats">Supported API definitions formats</a>
        The imports are well written and create a well-structured collection. If you have a collection in one of these formats, you can import it into Postman and then
        follow the directions <a class="link-normal"  href="/GettingStarted">here</a>.
    </MudText>
</MudPaper>

<br/>
<MudDivider Class="my-divider" DividerType="DividerType.FullWidth"></MudDivider>

@if (LazyLoading.ConvertLoaded)
{
    <div class="code-writing-options-contianer">
        <ApiClientOptionsComponent @ref="ApiClientOptionsComponent" @bind-ApiClientOptions="LastSavedApiClientOptions" ></ApiClientOptionsComponent>
    </div>
    <br />
    <CollectionUpload SuccessfulUpload="OnSuccessfulUpload"></CollectionUpload>
}


@code {
    public static ApiClientOptions LastSavedApiClientOptions { get; private set; } = new();
    private static ApiClientOptionsComponent? ApiClientOptionsComponent { get; set; }

    [Inject] private ILazyLoader LazyLoader { get; set; } = null!;
    private static readonly List<BreadcrumbItem> BreadCrumbs = new()
    {
        new("Home", "/", icon: Icons.Home),
        new("Convert", "/Convert", true, Icons.ImportExport)
    };

    protected override void OnInitialized()
    {
        TabsService.Value.SetHome(null);
        if (!LazyLoading.ConvertLoaded)
        {
            throw new Exception("Something went wrong. Reload the page.");
        }
        LazyLoading.UploadLoadedChanged += OnUploadLoaded;
        MainLayout.OnSettingsChanged += OnSettingsChanged;

    }

    public static void SetApiClientOptions(ApiClientOptions apiClientOptions)
    {
        LastSavedApiClientOptions = apiClientOptions.Clone();
        ApiClientOptionsComponent?.SetApiClientOptions(apiClientOptions);
    }

    private async void OnSettingsChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnSuccessfulUpload(ApiCollection apiCollection)
    {
        await Layout.AddApiCollection(apiCollection);
        Navigate.Value.ToCollection(apiCollection.Id);
        NavMenu.CollectionsExpanded = true;
    }

    private async Task OnUploadLoaded(bool loaded)
    {
        if (loaded)
        {
            await InvokeAsync(StateHasChanged);
        }
    }


    public void Dispose()
    {
        LazyLoading.UploadLoadedChanged -= OnUploadLoaded;
        MainLayout.OnSettingsChanged -= OnSettingsChanged;
    }

}
