@inherits MainLayoutComponent
@page "/Upload"
@page "/Convert"
@implements IDisposable

<PageHeader Title="Convert"
            SubTitle="Convert your Postman collections and transform them into C# HttpClients with Postman2CSharp"
            Keywords="Convert, generator, postman collections, transform, C# HttpClient" />

<BreadCrumbs Items="@BreadCrumbs"></BreadCrumbs>

<br/>

<MudPaper Class="header-paper" >
    <MudText Typo="Typo.h1" Class="mt-4">Convert Your Postman Collection</MudText>

    <br />

    <MudText>
        <strong>Privacy Assurance:</strong> Your Postman collections never leave your computer. This tool operates with Blazor WebAssembly (Wasm),
        a framework that allows it to run entirely in your browser without making any network calls or sharing information about your collections. 
        Your data stays on your machine.
    </MudText>
</MudPaper>

<br/>
<MudDivider Class="my-divider" DividerType="DividerType.FullWidth"></MudDivider>

@if (LazyLoader.ConvertLoaded)
{
    <div class="code-writing-options-contianer">
        <ApiClientOptionsComponent></ApiClientOptionsComponent>
    </div>

    <CollectionUpload SuccessfulUpload="OnSuccessfulUpload"></CollectionUpload>
}


@code {
    [Inject] private LazyLoader? LazyAssemblyLoader { get; set; }
    private static readonly List<BreadcrumbItem> BreadCrumbs = new()
    {
        new("Home", "/", icon: Icons.Home),
        new("Convert", "/Convert", true, Icons.ImportExport)
    };

    protected override void OnInitialized()
    {
        TabsService.Value.SetHome(null);
        if (!LazyLoader.ConvertLoaded)
        {
            throw new Exception("Something went wrong. Reload the page.");
        }
        LazyLoader.UploadLoadedChanged += OnUploadLoaded;
    }

    private async Task OnSuccessfulUpload(ApiCollection apiCollection)
    {
        await Layout.AddApiCollection(apiCollection);
        Navigate.Value.ToCollection(apiCollection.Id);
        NavMenu.CollectionsExpanded = true;
    }

    private async Task OnUploadLoaded(bool loaded)
    {
        if (loaded)
        {
            await InvokeAsync(StateHasChanged);
        }
    }


    public void Dispose()
    {
        LazyLoader.UploadLoadedChanged -= OnUploadLoaded;
    }

}
