@code {
    public static RenderFragment InlineCode(string text)
    {
        return @<div style="display: inline-block;">
        <span style="background: #262222; color: #c9dee0; padding: 1px 3px 3px 3px">@text</span>
               </div>;
    }

    public static RenderFragment InlineEmphasis(string text)
    {
        return @<div style="display: inline-block;"><span style="background: #262222; color: #A6E22E; padding: 1px 3px 3px 3px">@text</span></div>;
    }

    public static RenderFragment InlineValue(string text)
    {
        return @<div style="display: inline-block; "><span style="background-color: #262222; color: #DD4A68; font-weight: 100; padding: 1px 3px 3px 3px;">@text</span></div>;
    }
}
