@code {
    public static RenderFragment InlineCode(string text)
    {
        return @<div style="display: inline-block;">
                   <code class="language-csharp">@text</code>
               </div>;
    }

    public static RenderFragment InlineEmphasis(string text)
    {
        return @<div style="display: inline-block;"><span style="background: #262222; color: #A6E22E; padding: 1px 5px 4px 5px;">@text</span></div>;
    }

    public static RenderFragment InlineValue(string text)
    {
        return @<div style="display: inline-block; "><span style="background-color: #262222; color: #DD4A68; font-weight: 100; padding: 1px 5px 4px 5px;">@text</span></div>;
    }

    public static RenderFragment RequestToStarGithubFragment()
    {
        return @<div>
                   <MudText Typo="Typo.body1" >Has Postman2CSharp helped you? Consider starring the project on <a class="link-normal" style="color: #007cff;" href="@GitHubUrls.BaseUrl" target="_blank" >GitHub</a> to show your support.</MudText>
               </div>;
    }
}
