<br />
<br />
<div style="background-color: rgba(45, 44, 52, 0.47)">
    <br />
    <div style="display: flex;">
        <div style="flex-grow: 1;">

        </div>
        <div class="f-column jcc aic">
            <div class="f-row-column aic" style="text-align: center;">
                Copyright&nbsp;©&nbsp;@DateTime.Now.Year&nbsp;-
                Postman2CSharp&nbsp;All&nbsp;Rights&nbsp;Reserved
            </div>
            <a href="@GitHubUrls.BaseUrl" target="_blank" class="link-normal">GitHub Repo</a>
            <a href="https://www.buymeacoffee.com/ConnorHallman" target="_blank" class="link-normal">Help fund my college classes</a>
        </div>
        <div style="flex-grow: 1;">
        </div>
    </div>
    <br/>
</div>