@using Postman2CSharp.UI.Models
@implements IDisposable
<div class="f-row-column" style="gap: 10px;">
    <div style="width: 90%;">
        <MudText Style="font-weight: 500;" Typo="Typo.h2">Json Class Generation Options</MudText>
        <br />
        <p>Applies to classes generated for requests and responses that have a Json body. Use default settings for best results.</p>
    </div>
    <div class="f-column end-start" style="gap: 25px;">
        <MudTooltip Text="Resets settings to default values">
            <MudButton Style="white-space: nowrap;" Color="Color.Error"
                       Disabled="AppState.CodeWriterConfigInputModel.Equals(CSharpCodeWriterConfigInputModel.InputModelWithDefaults())" 
                       Variant="Variant.Filled" OnClick="SetInputModelToDefault">Reset To Default</MudButton>
        </MudTooltip>
    </div>
</div>
<br />
<MudGrid>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <EnumSelectComponent @bind-Value="InputModel.CollectionType" Label="Collection Type"></EnumSelectComponent>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <EnumSelectComponent @bind-Value="InputModel.OutputType" Label="Output Type"></EnumSelectComponent>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <EnumSelectComponent @bind-Value="InputModel.OutputMembers" Label="Output Members"></EnumSelectComponent>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudCheckBox Color="Color.Primary" @bind-Checked="InputModel.NullValueHandlingIgnore" Disabled="AppState.ApiClientOptions.JsonLibrary == JsonLibrary.SystemTextJson" Label="Null Value Handling Ignore"></MudCheckBox>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudCheckBox Color="Color.Primary" @bind-Checked="InputModel.ReadOnlyCollectionProperties" Label="Read Only Collection Properties"></MudCheckBox>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudCheckBox Color="Color.Primary" @bind-Checked="InputModel.AlwaysUseNullables" Label="Always Use Nullables"></MudCheckBox>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        <MudCheckBox Color="Color.Primary" @bind-Checked="InputModel.UsePascalCase" Label="Use Pascal Case"></MudCheckBox>
    </MudItem>
    <MudItem xs="12" sm="6" md="4" lg="3">
        @{
            var toolTipColor = Color.Warning;
            var toolTipVisible = false;
            string toolTipMessage = "";
            if (!InputModel.Equals(AppState.CodeWriterConfigInputModel))
            {
                toolTipColor = Color.Warning;
                toolTipVisible = true;
                toolTipMessage = "There are unsaved changes. Click save to ensure your changes take effect.";
            }
        }
        <div class="f-row aic" style="gap: 15px; width: 100%; justify-content: space-around;">
            <MudButton Color="Color.Primary" OnClick="SaveOptions" Disabled="InputModel.Equals(AppState.CodeWriterConfigInputModel)" Variant="Variant.Outlined" EndIcon="@Icons.Save">Save</MudButton>
            @if (toolTipVisible)
            {
                <MudTooltip Text="@toolTipMessage">
                    <MudIcon Icon="@Icons.Warning" Color="@toolTipColor" Title="Warning" Size="Size.Large"></MudIcon>
                </MudTooltip>
            }
            else
            {
                <div style="width: 20px;">
                </div>
            }
        </div>
    </MudItem>
</MudGrid>


@code {
    [Inject] private AppState AppState { get; set; } = null!;
    [Inject] private Lazy<ISnackbar?> SnackBar { get; set; } = default!;
    private CSharpCodeWriterConfigInputModel InputModel { get; set; } = CSharpCodeWriterConfigInputModel.InputModelWithDefaults();

    protected override void OnInitialized()
    {
        InputModel = AppState.CodeWriterConfigInputModel.Clone();
        InputModel.PropertyChanged += OnInputModelPropertyChanged;
        AppState.SettingsChanged += OnSettingsChanged;
        AppState.CSharpCodeWriterConfigInputModelChanged += SetInputModelToLastSaved;
    }

    private void SetInputModelToLastSaved()
    {
        InputModel.PropertyChanged -= OnInputModelPropertyChanged;
        InputModel = AppState.CodeWriterConfigInputModel.Clone();
        InputModel.PropertyChanged += OnInputModelPropertyChanged;
        InvokeAsync(StateHasChanged);
    }
    private void SetInputModelToDefault()
    {
        InputModel.PropertyChanged -= OnInputModelPropertyChanged;
        InputModel = CSharpCodeWriterConfigInputModel.InputModelWithDefaults();
        InputModel.PropertyChanged += OnInputModelPropertyChanged;
    }

    private void OnSettingsChanged()
    {
        SetInputModelToLastSaved();
        InvokeAsync(StateHasChanged);
    }

    private void OnInputModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }


    private void SaveOptions()
    {
        AppState.UpdateCodeWriterConfigInputModel(InputModel.Clone());
        SnackBar.Value?.Add($"Class generation options saved", Severity.Success);
    }

    public void Dispose()
    {
        InputModel.PropertyChanged -= OnInputModelPropertyChanged;
        AppState.SettingsChanged -= OnSettingsChanged;
        AppState.CSharpCodeWriterConfigInputModelChanged -= SetInputModelToLastSaved;
    }

}
