@using CodeBeamMudExtensions
<style>
    .step-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 40vh;
        max-height: 60vh;
        background: rgb(23 26 34);
        padding: 15px;
        border: 1px solid white;
        border-top: 0px;
        box-sizing: content-box;
    }

    .step-question-container,
    .step-example-container {
        padding: 1rem;
    }

    .step-question-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: inherit;
        overflow: scroll;
    }

    .step-example-container {

    }
</style>
<div class="step-container">
    <div class="step-question-container">
        @Input
        <div class="step-additional-info">
            @AdditionalInfo
        </div>
    </div>
    <div class="step-example-container">
        @Example
    </div>
</div>

@code {
    [Parameter] public RenderFragment? Input { get; set; }
    [Parameter] public RenderFragment? Example { get; set; }
    [Parameter] public RenderFragment? AdditionalInfo { get; set; }
}
