<MudItem xs="12" sm="6" md="4" lg="3" Style="display: flex; align-items: baseline; gap: 10px;">
    <div style="flex-grow: 1;">
        @ChildContent
    </div>
    <MudTooltip Delay="400" Duration="300">
        <ChildContent>
            <MudIcon Icon="@Icons.HelpOutline" Size="Size.Small"></MudIcon>
        </ChildContent>
        <TooltipContent>
            <MudText Typo="Typo.body2" Style="min-width: 12em; max-width: 17em;">@ToolTip</MudText>
        </TooltipContent>
    </MudTooltip>
    <div style="flex-grow: 1"></div>
</MudItem>
@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter, EditorRequired] public string ToolTip { get; set; } = null!;

}
