<style>
    .mud-snackbar {
        max-width: 800px;
    }
</style>
<div class="f-row aic" style="gap: 20px;">
    <MudImage Src="postman2csharp.png" Height="64" Width="64" ></MudImage>
    <MudText Typo="Typo.h6">@Message <a href="https://www.buymeacoffee.com/ConnorHallman" target="_blank" class="link-normal">Buy me a book</a></MudText>
</div>

@code {
    [Parameter] public string? Message { get; set; }
}
