<style>
    .getting-started-container {
        max-width: 80%;
    }
    @@media (max-width: 600px) {
        .getting-started-container {
            max-width: 100%;
        }
    }
    .getting-started-image {
        height: 400px;
    }
    @@media (max-width: 600px) {
        .getting-started-image {
            height: 300px;
        }
    }
</style>
<div class="getting-started-container">
    <MudText>Follow the steps below to convert your Postman collection to a C# API client.</MudText>
    <MudList>
        <MudListItem>
            <MudText>
                <strong>Step 1:</strong> Open Postman and hover over the collection (root folder) you want to export. Click on the ellipsis (...), scroll down, and then select 'Export'.
            </MudText>
        </MudListItem>
        <img class="getting-started-image" src="images/ShowMore.png" alt="Show More" fetchpriority="low" loading="lazy">
        <MudListItem>
            <MudText>
                <strong>Step 2:</strong> In the 'Export Collection' dialog box, select version 'Collection v2.1'.
            </MudText>
        </MudListItem>
        <img class="getting-started-image" src="images/Export.png" alt="Export" fetchpriority="low" loading="lazy">
        <MudListItem>
            <MudText>
                <strong>Step 3:</strong> Click 'Export' and choose the location where you want to save the file.
            </MudText>
        </MudListItem>
        <img class="getting-started-image" src="images/ExportCollection.png" alt="Export Collection" fetchpriority="low" loading="lazy">
        <MudListItem>
            <MudText>
                <strong>Step 4:</strong> Now you can Upload the exported Json file on <a class="link-normal" href="/Upload">this</a> page to generate your C# API client.
            </MudText>
        </MudListItem>
    </MudList>

    <MudText Typo="Typo.h2" GutterBottom="true">Best Practices</MudText>
    <MudText>
        To ensure optimal conversion of your Postman collection, we recommend the following practices:
    </MudText>
    <MudList>
        <MudListItem>
            <MudText>
                <strong>Save responses for all requests:</strong> This allows Postman2CSharp to generate classes for your response json.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>
                <strong>Put example json in request bodies that use it:</strong> As above, this allows Postman2CSharp to generate classes for your response json.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>
                <strong>Use inherited authorization:</strong> This helps maintain consistency and will generate the best results.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>
                <strong>Remove unused parameters:</strong> To ensure clean and optimized generated code, it is advisable to remove parameters that are not being used.
            </MudText>
        </MudListItem>
        <MudListItem>
            <MudText>
                <strong>Use collection variables instead of other types of variables:</strong> Collection variables allow Postman2CSharp to do more code generation for you because their values are included in the exported json.
            </MudText>
        </MudListItem>
    </MudList>

    <MudText Typo="Typo.h2" GutterBottom="true">Configuration</MudText>
    <MudText>
        There majority of configuration will be found on the Upload page. There are some additional configuration that you can configure
        on the Advanced Settings page; these configurations deal with how classes are generated from Json. For an explanation of configurations
        see <a class="link-normal" href="/ApiClient-Configurations-Explained">ApiClient Configurations Explained</a>.
    </MudText>
    <br />
</div>

